POSTGRES_DB=cybermap
POSTGRES_USER=bss_local
POSTGRES_PASSWORD=REPLACE_WITH_BOOTSTRAP_OUTPUT
BSS_MTLS_PROXY_SECRET=REPLACE_WITH_BOOTSTRAP_OUTPUT
LOCAL_MTLS_CERT_FINGERPRINT=REPLACE_WITH_DESKTOP_PUBLIC_CERTIFICATE_FINGERPRINT
BSS_LOCAL_MTLS_LAB_DIR=REPLACE_WITH_PROTECTED_LAB_DIRECTORY
BSS_DESKTOP_CLIENT_CERT_PEM=REPLACE_WITH_PROTECTED_DESKTOP_PUBLIC_CERTIFICATE
BSS_LOCAL_CLIENT_P12=REPLACE_WITH_PROTECTED_DESKTOP_PKCS12
BSS_LOCAL_CA_CERT=REPLACE_WITH_PROTECTED_LOCAL_CA_CERTIFICATE
